{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer AF footer-wrapper" role="contentinfo">
    <div class="container">
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <!--<h5 class="footer-info-heading">{{lang 'footer.navigate'}}</h5>-->
                <h5 class="footer-info-heading">Our Sitemap</h5>
                <ul class="footer-info-list">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small">
                <h5 class="footer-info-heading">Our Headquarters</h5>
                <address>{{nl2br settings.address}}</address>
                {{#if settings.phone_number}}
                    <div class="phone">{{settings.phone_number}}</div>
                {{/if}}
                <u>Store Hours</u>
                <div class="store-hours">Tuesday - Sunday</div>
                <div class="store-hours">9:00 am - 5:00 pm</div>
            </article>
            
            <article class="footer-info-col footer-info-col--small">
                <h5 class="footer-info-heading">Now Shipping</h5>
                <div>That's right we are now shipping fireworks right to your doorstep!</div>
                <a class="button button--primary" href="/ship-fireworks">Learn More</a>
            </article>
            
            <article class="footer-info-col footer-info-col--small">
                <h5 class="footer-info-heading">Current Specials</h5>
                <div>Get the best bang for your buck and check out our latest promotions</div>
                <a class="button button--primary" href="/coupon">View Now</a>
            </article>

            <article class="footer-info-col custom-form-wrapper" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
            </article>
        </section>
        
        <section class="footer-info bottom">
            <article class="footer-info-col">
                <img class="footer-logo" src="//cdn8.bigcommerce.com/s-ue35mlfnwh/content/images/american_footer_logo.png?t=1523856350" alt="American Fireworks" />
                
                {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
                    <div class="social-links-wrapper" data-section-type="footer-webPages">
                        {{#if social_media}}
                            <ul class="socialLinks socialLinks--alt">
                                <li class="socialLinks-item visit-us-content">Visit Us On</li>
                                {{#each social_media}}
                                    <li class="socialLinks-item">
                                        {{#if display_name '===' 'google+'}}
                                            <a class="social-link-item" href="{{url}}" target="_blank">
                                                Google+
                                            </a>
                                        {{else}}
                                            <a class="social-link-item" href="{{url}}" target="_blank">
                                                {{display_name}}
                                            </a>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                {{/if}}
                
                {{#if theme_settings.show_copyright_footer}}
                    <div class="footer-copyright">
                        <p class="powered-by">Copyright &copy; {{moment format="YYYY"}} {{settings.store_name}}. All Rights Reserved. </p>
                    </div>
                {{/if}}
            </article>
            <article class="footer-info-col about-col">
                Family owned and operated since 1899, American Fireworks seventh family gereration of Sorgi's maintains the same principles and integry the business was first built on.
            </article>
            <article class="footer-info-col payment-info-col">
                {{> components/common/payment-icons}}
                
                {{#if theme_settings.geotrust_ssl_common_name}}
                    <div class="footer-geotrust-ssl-seal">
                        {{> components/common/geotrust-ssl-seal}}
                    </div>
                {{/if}}
            </article>
        </section>
    </div>
</footer>
