// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    @include grid-row($behavior: "nest");
    margin-left: -(spacing("base"));
    margin-right: -(spacing("base"));

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
    }
}

.productView-description {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("large") {
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
    }

    .productView-title {
        border-bottom: container("border");
        margin-bottom: spacing("base");
        padding-left: spacing("base");
        padding-right: spacing("base");
    }

    .productView-description {
        @include breakpoint("medium") {
            clear: both;
            float: none;
            width: 100%;
        }
    }
}

@media (max-width: 800px) {
    .productView-images {
        margin-bottom: 10px;
        .productView-image {
            .productView-img-container {
                width: 40%;
            }
        }
    }
}

.product-view-fright-message-wrapper {
    margin-bottom: 15px;

    .product-view-fright-message {
        border-color: #fcd344;
        background-color: #fafaec;
        background-image: url("//cdn8.bigcommerce.com/s-ue35mlfnwh/content/images/i_msg-note.gif");
        color: #3d6611;
        background-position: 10px 9px !important;
        background-repeat: no-repeat !important;
        border-style: solid !important;
        border-width: 1px !important;
        font-family: arial;
        font-size: 13px !important;
        font-weight: bold !important;
        min-height: 20px !important;
        padding: 10px 8px 8px 32px !important;

        a {
            color: #981605;
            text-decoration: underline;
        }
    }
}